robot_driver:
  ros__parameters:
    can_channel: can0
    joint_state_rate: 30.0
    diagnostics_rate: 1.0
    command_timeout_s: 600.0
    zero_gravity_default: true
    xyz_only_mode: false
    log_dir: log/robot_driver
    safe_pose_file: config/safe_pose_20251114_104828.yaml
    robot_description_file: robot_description.yaml
    publish_tf: true
    tf_base_frame: base_link
    tf_tool_frame: tool0
    diag_hardware_id: robot_driver_node
    diagnostic_latch_sec: 5.0
    cartesian_command_rate_limit: 0.15
    joint_state_topic: /joint_states
    diagnostics_topic: /robot_driver/diagnostics
    follow_joint_trajectory_action: /robot_driver/action/follow_joint_trajectory
    zero_gravity_service: /robot_driver/service/zero_gravity
    can_reset_script: ""
    joint_command_mode: position
    joint_command_rate_limit: 0.5
    enable_joint_velocity_fuse: false
    safe_pose_fallback:
      joint_names:
        - joint1
        - joint2
        - joint3
        - joint4
        - joint5
        - joint6
      positions:
        - 0.0
        - -0.3
        - 0.6
        - -1.2
        - 0.8
        - 0.0
      ready: false
